.lesson_05_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
  flex: 1;
  gap: 80px;
}

.menu_wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  width: 800px;
  padding: 40px;
  align-items: center;
  gap: 40px;
  background-color: aliceblue;
}

.button_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.button_control {
  width: 200px;
}

.order_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 40px;
  border: 2px solid rgb(21, 176, 21);
  border-radius: 8px;
  align-items: center;
  background-color: rgb(218, 255, 218);
}

.order_title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(21, 176, 21);
}

.order_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order_item {
  font-size: 26px;
  font-weight: bold;
}
