.form_input{
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 78px;
    gap: 4px;
}
.input_label{
    font-size: 16px;
    font-weight: 400;
    width: 470px;
    height: 24px;
    gap: 3px;
}
#email{
   width: 470px;
    height: 50px; 
    border-radius: 4px;
    border: 0.5 px solid black;
    gap: 3px;

}