.button_component {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 0;
  height: 70px;
  width: 470px;
  background-color: rgb(31, 39, 245);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  gap: 10px;
}

.button_component:hover {
  background-color: rgb(31, 39, 245);
}