.counter_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 400px;
  height: fit-content;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.button_control {
  width: 100px;
}

.count {
  font-size: 40px;
  font-weight: bold;
}