.login_form{
display: flex;
flex-direction: column;
justify-content: center;
width: 590px;
height: 450px;
padding: 60px;
gap: 30px;
border-radius: 4px;
border: 1px solid black;
}
.form_name{
    font-size: 24px;
}