.lesson_02_wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 28, 57);
}

.animal_card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 540px;
  height: fit-content;
  border: 2px solid black;
  padding: 40px;
  margin: 30px;
  border-radius: 8px;
  background-color: white;
}

.card_title {
  font-size: 24px;
  font-weight: bold;
  color: purple;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card_info {
  font-size: 20px;
  color: black;
  font-weight: bold;
}