.homework03_page_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px;
  gap: 40px;
  justify-content: center;
  background-color: rgb(14, 14, 65);
}
.cards_container {
  display: flex;
  gap: 20px;
}
.buttons_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.button_control {
  width: 300px;
}