.homework04_page_wrapper{

    display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 40px;
  justify-content: center;
  background-color: rgb(23, 23, 76);
}